.Weather {
  border: 1px solid #dadde1;
  font-family: arial, sans-serif;
  color: rgb(135,135,135);
  padding: 16px;
  border-radius: 4px;
}
.Weather form{
    margin-bottom:20px ;
}

.Weather h1{
  color: #C9356C;

    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin: 20px 0 0 0;

}
.Weather li{
      
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
}
.Weather ul{

    margin:0;
    padding:0 px;
}
.Weather .temperature{

    font-weight: 400;
   color: #FF347F;
    line-height: 64px;
    font-size:64px;
    margin-left: 10px;
    
}
.Weather .unit{
    font-size: 16px;
   color:  #FF347F;
   font-weight: 400;
   position:relative;
   line-height: 1;
   top:-34px;
   margin: 0px;

}
.Weather a {
    text-decoration: none;
}
.Weather img{
    height:64px;
    width: 64px;
    margin-right: 10px;
    
}

